html{
    box-sizing: border-box;
    font-size: 62.5%;

}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;/*1rem=10px*/
    /*background-image: linear-gradient(to top,var(--bg) 0%,var(--blanco)80%);/*Degradado de color del bg general*/
    background-color: #252525;
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: #ffffff;
}


.contenedor-img{
    display: flex;
    justify-content: center;
}

.formulario{
    display: flex;
    justify-content: center;
}

.datos{
    color: #ffffff;
    display: block;
}

input{
    margin-top: 1rem;
    width: 100%;
}

.forgot{
    margin-left: 5rem;
}
button{
    width: 100%;
    font-size: 1.8rem;
}
.check{
    justify-content: start;
}
footer{
    color: #ffffff;
    text-align: center;
}